// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage a {
  color: #fff !important;
}

.homepage a:hover {
  text-decoration: none;
  background-color: #fff;
  color: #000 !important;
}
